tr {
    border-top: 0.01rem solid rgb(196, 201, 209);
}

tr:hover {
    background-color: rgb(240, 242, 245);
}

.edit-delete-column {
    display: flex;
    justify-content: center;
    width: fit-content;
}

button {
    background-color: white;
    border-radius: 0.3rem;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border: 0.02rem solid rgb(180, 185, 191);
}